<section id="proyectos">
    <h2>PROYECTOS</h2>
    <div class="proyectos">
        <app-proyecto   [title]="'Space War'"
                        [preview]="{name: '../../../assets/space_war_frontImg.png',
                                    alt: 'Test1'}"
                        [description]="'Space War es un proyecto de programación en Python desarrollado con la biblioteca Pygame. Se trata de un juego de acción estilo bullet hell ambientado en el espacio exterior. Los jugadores asumen el papel de pilotos espaciales y se enfrentan a una serie infinita de enemigos mientras intentan sobrevivir en un entorno hostil.'"
                        [icons]="[faPython]"
                        [code]="'https://github.com/Sebastian-Fals/Space_war'"
                        [url]="'https://sebastian-fals.itch.io/space-war'"/>
    </div>
</section>
