<header>
  <div class="header">
    <div class="title">
      <img src="../../../assets/foto_perfil-min.webp" alt="Sebastian Fals" />
      <div>
        <h1>Hola, soy Sebasti&aacute;n Fals</h1>
        <h3>Desarrollador frontend y Game designer</h3>
      </div>
      <div class="row">
        <a
          class="curriculum"
          href="../assets/curriculum.pdf"
          download="curriculum"
          >Curriculum<fa-icon [icon]="faCircleArrowDown"
        /></a>
        <a href="https://github.com/Sebastian-Fals" target="_blank"
          ><fa-icon [icon]="faGithub"
        /></a>
        <a
          href="https://www.linkedin.com/in/sebastian-fals-1b9880163/"
          target="_blank"
          ><fa-icon [icon]="faLinkedin"
        /></a>
      </div>
    </div>
  </div>
  <div class="shortcut">
    <a href="#proyectos">
      <b>Proyectos</b>
      <fa-icon [icon]="faAngleDown" />
    </a>
  </div>
  <hr />
</header>
