h2 {
  color: white;
  margin: 0;
  font-size: 30px;
  font-weight: 100;
  text-align: center;
}
section {
  color: white;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: baseline;
  justify-content: space-around;
  div {
    margin-top: 15px;
    width: 48%;
    h3 {
      font-size: 30px;
      margin: 0;
      text-align: left;
    }
    #tecs {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      width: 70%;
      li {
        font-size: 30px;
        list-style: none;
      }
    }
  }
}
