<h2>SOBRE MI</h2>
<section>
  <div>
    <h3>Estudios</h3>
    <ul>
      <li>Tecnico en python</li>
      <li>Desarrollo de videojuegos en unity</li>
      <li>Master de desarrolo web con javascript</li>
      <li>Curso profesional de git y github</li>
    </ul>
  </div>
  <div>
    <h3>Tecnologias</h3>
    <ul id="tecs">
      <li><fa-icon [icon]="python" /></li>
      <li><fa-icon [icon]="html" /></li>
      <li><fa-icon [icon]="css" /></li>
      <li><fa-icon [icon]="js" /></li>
      <li><fa-icon [icon]="node" /></li>
      <li><fa-icon [icon]="angular" /></li>
      <li><fa-icon [icon]="react" /></li>
    </ul>
  </div>
</section>
